AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_REGION=uksouth

POSTGRES_HOST=
POSTGRES_DB=insurance
POSTGRES_USER=
POSTGRES_PASSWORD=

ADLS_ACCOUNT_NAME=
ADLS_CONTAINER_RAW=raw

AZURE_SQL_SERVER=
AZURE_SQL_DB=insurance
AZURE_SQL_USER=
AZURE_SQL_PASSWORD=

SFTP_HOST=
SFTP_PORT=22
SFTP_USER=
SFTP_PASSWORD=

KEY_VAULT_NAME=
